In [7]:
import pandas as pd
df = pd.read_csv('/Users/riyad/onedrive/desktop/COSC301/Group-43-Project/data/raw/impacts.csv')
df.head

<bound method NDFrame.head of                   Object Name  Period Start  Period End  Possible Impacts  \
0                    2006 WP1          2017        2017                 1
1                     2013 YB          2017        2046                23
2                     2008 US          2017        2062                30
3                  2010 VR139          2017        2076                24
4                  2015 ME131          2017        2096                85
..                        ...           ...         ...               ...
678                 2014 KW76          2115        2115                 1
679                   2012 FN          2115        2115                 1
680  101955 Bennu (1999 RQ36)          2175        2199                78
681          410777 (2009 FD)          2185        2198                 7
682           29075 (1950 DA)          2880        2880                 1

     Cumulative Impact Probability  Asteroid Velocity  Asteroid Magnitude  \
0                     5.200000e-09              17.77                28.3
1                     7.600000e-05               8.98                31.4
2                     1.600000e-05              18.33                31.4
3                     2.000000e-07               4.99                26.7
4                     2.300000e-08              19.46                19.2
..                             ...                ...                 ...
678                   2.800000e-07              15.00                28.0
679                   2.300000e-08               3.27                29.2
680                   3.700000e-04               5.99                20.2
681                   1.600000e-03              15.87                22.1
682                   1.200000e-04              14.10                17.6

     Asteroid Diameter (km)  Cumulative Palermo Scale  Maximum Palermo Scale  \
0                     0.007                     -8.31                  -8.31
1                     0.002                     -6.60                  -6.96
2                     0.002                     -6.48                  -6.87
3                     0.016                     -6.83                  -6.95
4                     0.497                     -3.85                  -4.30
..                      ...                       ...                    ...
678                   0.008                     -8.22                  -8.22
679                   0.005                    -10.18                 -10.20
680                   0.490                     -1.71                  -2.32
681                   0.160                     -1.78                  -1.83
682                   1.300                     -1.42                  -1.42

    Maximum Torino Scale
0                      0
1                      0
2                      0
3                      0
4                      0
..                   ...
678                    0
679                    0
680                  (*)
681                  (*)
682                  (*)

[683 rows x 11 columns]>