In [5]:
import pandas as pd
import seaborn as sns
import numpy as np
import os
import matplotlib.pyplot as plt



impacts = pd.read_csv('../../data/raw/impacts.csv')

In [6]:
#Analysis Pipeline
#I am essentially getting rid of null values, organizing the data, and renaming some columns to make it more readable. Also, I have dropped the "Maximum Torino Scale" column as most of the values are zero.

impacts_processed = (impacts.dropna()
                     .reset_index(drop=True)
                     .rename(columns={"Period Start": "Risk Period Start", "Period End": "Risk Period End", "Object Name": "Asteroid Name"})
                     .rename(columns={"Asteroid Velocity": "Asteroid Velocity (km/s)", "Asteroid Magnitude": "Asteroid Magnitude (au)"})
                     .drop(['Maximum Torino Scale'], axis = 1)
                     .sort_values(by = 'Risk Period Start', ascending = True)
                     .loc[0:450]
                     


)

impacts_processed

,Asteroid Name,Risk Period Start,Risk Period End,Possible Impacts,Cumulative Impact Probability,Asteroid Velocity (km/s),Asteroid Magnitude (au),Asteroid Diameter (km),Cumulative Palermo Scale,Maximum Palermo Scale
0,2006 WP1,2017,2017,1,5.200000e-09,17.77,28.3,0.007,-8.31,-8.31
25,2008 EK68,2017,2115,315,5.000000e-06,7.43,29.8,0.004,-7.60,-8.87
24,2012 BP123,2017,2115,228,5.900000e-07,4.60,27.1,0.013,-7.24,-8.11
23,2015 HW182,2017,2115,174,5.700000e-08,10.76,25.2,0.031,-6.69,-7.17
21,2010 WW8,2017,2114,92,5.700000e-07,4.45,26.9,0.015,-7.02,-7.73
...,...,...,...,...,...,...,...,...,...,...
442,2015 UH52,2075,2101,3,1.100000e-06,11.19,26.0,0.022,-6.59,-6.85
443,2003 YS70,2075,2107,2,7.700000e-06,3.16,28.8,0.006,-7.44,-7.48
444,2000 LG6,2075,2115,52,9.900000e-04,2.11,29.0,0.005,-5.37,-5.86
449,2015 ET,2076,2114,9,2.600000e-06,11.63,26.7,0.016,-6.58,-7.22
450,2016 WG,2076,2115,22,5.500000e-06,23.60,23.3,0.074,-4.25,-4.91

In [3]:
#Calling load_and_process function which does analysis pipeline process for me

from scripts import project_functions
df = project_functions.load_and_process('../../data/raw/impacts.csv')
df

,Asteroid Name,Risk Period Start,Risk Period End,Possible Impacts,Cumulative Impact Probability,Asteroid Velocity (km/s),Asteroid Magnitude (au),Asteroid Diameter (km),Cumulative Palermo Scale,Maximum Palermo Scale
0,2006 WP1,2017,2017,1,5.200000e-09,17.77,28.3,0.007,-8.31,-8.31
1,2008 EK68,2017,2115,315,5.000000e-06,7.43,29.8,0.004,-7.60,-8.87
2,2012 BP123,2017,2115,228,5.900000e-07,4.60,27.1,0.013,-7.24,-8.11
3,2015 HW182,2017,2115,174,5.700000e-08,10.76,25.2,0.031,-6.69,-7.17
4,2008 EM68,2017,2115,1144,1.300000e-05,14.54,27.8,0.010,-5.31,-5.65
...,...,...,...,...,...,...,...,...,...,...
446,2014 QF33,2076,2076,1,3.400000e-08,23.29,23.7,0.060,-6.63,-6.63
447,2014 FX32,2076,2108,3,3.100000e-06,9.05,25.1,0.033,-5.71,-5.71
448,2016 RR1,2076,2113,27,2.000000e-04,6.75,27.8,0.009,-5.42,-5.64
449,2004 VZ14,2076,2114,4,2.100000e-06,15.26,25.3,0.030,-5.92,-6.39
450,2016 WG,2076,2115,22,5.500000e-06,23.60,23.3,0.074,-4.25,-4.91