In [1]:
import pandas as pd
import seaborn as sns
import numpy as np
import os
import matplotlib.pyplot as plt



impacts = pd.read_csv('../../data/raw/impacts.csv')

In [2]:
#Analysis Pipeline
#I am essentially getting rid of null values, organizing the data, and renaming some columns to make it more readable. Also, I have dropped the "Maximum Torino Scale" column as most of the values are zero.

impacts_processed = (impacts.dropna()
                     .reset_index(drop=True)
                     .rename(columns={"Period Start": "Risk Period Start", "Period End": "Risk Period End", "Object Name": "Asteroid Name"})
                     .rename(columns={"Asteroid Velocity": "Asteroid Velocity (km/s)", "Asteroid Magnitude": "Asteroid Magnitude (au)"})
                     .drop(['Maximum Torino Scale'], axis = 1)
                     .sort_values(by = 'Risk Period Start', ascending = True)
                     


)

impacts_processed

,Asteroid Name,Risk Period Start,Risk Period End,Possible Impacts,Cumulative Impact Probability,Asteroid Velocity (km/s),Asteroid Magnitude (au),Asteroid Diameter (km),Cumulative Palermo Scale,Maximum Palermo Scale
0,2006 WP1,2017,2017,1,5.200000e-09,17.77,28.3,0.007,-8.31,-8.31
25,2008 EK68,2017,2115,315,5.000000e-06,7.43,29.8,0.004,-7.60,-8.87
24,2012 BP123,2017,2115,228,5.900000e-07,4.60,27.1,0.013,-7.24,-8.11
23,2015 HW182,2017,2115,174,5.700000e-08,10.76,25.2,0.031,-6.69,-7.17
21,2010 WW8,2017,2114,92,5.700000e-07,4.45,26.9,0.015,-7.02,-7.73
...,...,...,...,...,...,...,...,...,...,...
678,2014 KW76,2115,2115,1,2.800000e-07,15.00,28.0,0.008,-8.22,-8.22
679,2012 FN,2115,2115,1,2.300000e-08,3.27,29.2,0.005,-10.18,-10.20
680,101955 Bennu (1999 RQ36),2175,2199,78,3.700000e-04,5.99,20.2,0.490,-1.71,-2.32
681,410777 (2009 FD),2185,2198,7,1.600000e-03,15.87,22.1,0.160,-1.78,-1.83
682,29075 (1950 DA),2880,2880,1,1.200000e-04,14.10,17.6,1.300,-1.42,-1.42

In [21]:
#Calling load_and_process function which does analysis pipeline process for me

from scripts import project_functions
df = project_functions.load_and_process("impacts.csv")
df

ImportError: cannot import name 'project_functions' from 'scripts' (unknown location)